<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="30" height="30" alt="image here">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutartists">About Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/createaboutartists">Create About Artists</a>
      </li>
    </ul>
  </div>
</nav>
